// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";

.index-page {
  text-align: left;
  justify-content: left;
  display: flex;
  flex-direction: column;
  background-color: white;
}
