<% @bets.each do |bet| %>
  <div class="wrapper">
    <div class="product-img">
      <%= image_tag("#{bet.status}.jpg") %>
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1><%= bet.status %></h1>
        <h2><%= bet.description %></h2>
        <p><%= bet.bet_value %></p>
      </div>
      <div class="product-price-btn">
        <p></p>
        <button type="button">Details</button>
      </div>
    </div>
  </div>
<% end %>
