<% @bets.each do |bet| %>
  <div class="wrapper">
    <div class="product-img">
      <%= image_tag("#{bet.status}.jpg") %>
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>Votre pari</h1>
        <h2></h2>
        <p>Blablablabla, this bet is LEGEN...DARY</p>
      </div>
      <div class="product-price-btn">
        <p><span>78</span>$</p>
        <button type="button">Access bet</button>
      </div>
    </div>
  </div>
<% end %>
