<div class="login-page">
  <div class="container">
    <div class="home-box">
      <h2><%= t('.greeting', recipient: @email) %></h2>
      <div class="pink-stripe"></div>
    </div>



<p><%= t('.message') %></p>


  </div>
</div>
