<div class="login-page">
  <div class="container">
    <div class="home-box">
      <h2><%= t('.greeting', recipient: @email) %></h2>
      <div class="pink-stripe"></div>
    </div>


<p><%= t('.message') %></p>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), unlock_url(@resource, unlock_token: @token) %></p>

  </div>
</div>

